/*
Template: Kidschool
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style included in this file. 
*/

@import url("header.css");
@import url("slider.css");
@import url("footer.css");
@import url("default.css");
@import url("activity.css");
@import url("gallery.css");
@import url("fun.css");
@import url("teacher.css");
@import url("events.css");
@import url("testimonial.css");
@import url("classes.css");
@import url("contact.css");
@import url("pricing.css");
@import url("about.css");